* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Koulen', cursive;
    font-family: 'Zilla Slab', serif;
    transition: .4s ease;
   
}

.container {
    max-width: 1320px;
    width: 90%;
    margin: 0 auto;
}


nav {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul,
.button-aria {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 30px;
}

.logo a {
    color: #407aff;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: .4px;
    text-transform: uppercase;
}

.logo a span {
    color: #ff8c7a;
}

ul li a {
    color: #ff8c7a;
    font-size: 20px;
    cursor: pointer;
}

ul li a:hover {
    color: #407aff;
}
.btn{
    display: inline-block;
    color:#407aff;
    padding: 12px 24px;
    border-radius: .5rem;
}
