* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Koulen", cursive;
  font-family: "Zilla Slab", serif;
  transition: 0.4s ease;
  background-color: #c9d2e8;
}
.box {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  width: 1200px;
  height: 700px;
  background-color: #ff8c7a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: #407aff 0 0 0.9rem;
  padding: 80px 0;
  animation: animation infinite 1s ease-in;
}
@keyframes animation {
    0% {
      box-shadow: 0 0 1rem #407aff;
    }
  
    50% {
      box-shadow: 0 0 1rem #ff8c7a;
    }